# STUDENT NAME AND INFORMATION

### Due Date: Monday Oct/16/2023

Note: For the cell above, feel free to use the markdown code from the class Jupyter Notebook and modify it with your information.

Please Save a copy of this notebook to modify and submit your homework. Rename the file accordingly. If using Colab, "Open in Colab" link on the left top of this notebook to save a copy of this notebook to your "Colab Notebooks" under your Google Drive, and rename it. 

Please provide your solutions cells after each question. You can create new cells as needed. <br>

Please return your notebook by the due date via by emailing the grader and CC instructor as a *.ipynb file) via email or Blackboard. The name of your notebook should be in the following format: YourLastname_HW01.ipynb (e.g. Gonzalez_HW01.ipyn).

Make sure that your code is in a working condition when you restart the kernel. Notebooks are great tools for exploration but we should be very careful as we are writing codes.

# Dataset Source: 

This HW will use the Titanic dataset which is a common dataset used in data science. Please use the file "titanic.csv" in the input_data folder.

Citation:

The original Titanic dataset, describing the survival status of individual passengers on the Titanic. The titanic data does not contain information from the crew, but it does contain actual ages of half of the passengers. The principal source for data about Titanic passengers is the Encyclopedia Titanica. The datasets used here were begun by a variety of researchers. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.

Thomas Cason of UVa has greatly updated and improved the titanic data frame using the Encyclopedia Titanica and created the dataset here. Some duplicate passengers have been dropped, many errors corrected, many missing ages filled in, and new variables created.

Attribute information
The variables on our extracted dataset are pclass, survived, name, age, embarked, home.dest, room, ticket, boat, and sex. pclass refers to passenger class (1st, 2nd, 3rd), and is a proxy for socio-economic class. Age is in years, and some infants had fractional values. The titanic2 data frame has no missing data and includes records for the crew, but age is dichotomized at adult vs. child. These data were obtained from Robert Dawson, Saint Mary's University, E-mail. The variables are pclass, age, sex, survived. These data frames are useful for demonstrating many of the functions in Hmisc as well as demonstrating binary logistic regression analysis using the Design library. For more details and references see Simonoff, Jeffrey S (1997): The "unusual episode" and a second statistics course. J Statistics Education, Vol. 5 No. 1.

For more information about how this dataset was constructed: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3info.txt

Other Titanic Dataset Information Sources:
- https://www.openml.org/search?type=data&sort=runs&id=40945&status=active
- https://www.kaggle.com/competitions/titanic/data?select=gender_submission.csv

# Homework Questions:

#### Question 1 (3 points): Load file and name it "df_titanic_1".

#### Question 2 (3 points): Provide a sample of the dataframe (i.e., the output should be at least 5 rows of data with the columns).

#### Question 3 (4 points): Calculate number of rows and of columns.

#### Question 4 (3 points): Show the datatypes of each column.

#### Question 5 (3 points): Provide some discussion and thoughts on the column cabin. Does it provide any useful information? Should it be removed? Should it be kept? 
*Note: Question 6 is irrelevant to this question.

#### Question 6 (3 points): Remove Colum "cabin" from df_titanic_1.

#### Question 7 (3 points): Create a dataframe called df_passenger_info whcih includes columns "passenger", "name", "sex", and "age".

#### Question 8 (3 points): Convert the df_passenger_info to a dictionary.

#### Question 9 (5 points): Create a dataframe called "df_titanic_2" that is filtering for passengers that paid a fare higher than 10 AND have an age less than 50.

#### Question 10 (5 points): Sort df_titanic_2 by 'age' column in ascending order.

#### Question 11 (5 points): Export the "df_titanic_2" as a csv and put in output_data folder

#### Question 12 (5 points): Export the "df_passenger_info" as a JSON put in output_data folder

# NOTEBOOK END